.label {
    display: flex;
    height: 50px;
    width: 52px;
    justify-content: center;
    align-items: end;
}

.beatLabel {
    font-weight: bold;
    font-size: large;
}

.disabled {
    opacity: .8;
}