.formButton {
    margin: 3px;
    margin-bottom: 3%;
    height: 25px;
    border-radius: 25% 25% / 25% 25%;
    background-color: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}